@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

/* ! Header Start */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-circle {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}

.header .logo .circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.header .logo .logo-circle .circle-1 {
    background-color: #887a9c;
    margin-left: 10px;
}

.header .logo .logo-circle .circle-2 {
    background-color: #4F93A6;
}

/* ! Header End */